# .gitattributes files are used by Git to determine the text and binaries files,
# the EOL of the text files and the diff method.

# Shorthand for text files.
# - Treat them as text.
# - Ensure no CRLF line-endings, neither on checkout nor on checkin.
# - Detect whitespace errors.
#   - Exposed by default in `git diff --color` on the CLI.
#   - Validate with `git diff --check`.
#   - Deny applying with `git apply --whitespace=error-all`.
#   - Fix automatically with `git apply --whitespace=fix`.
[attr]customtext text eol=lf whitespace=blank-at-eol,-blank-at-eof,-space-before-tab,tab-in-indent,tabwidth=2

# Shorthand for binary files.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
[attr]custombinary -text diff

# Auto-detect text files, ensure they use LF.
*text=auto eol=lf

# These files are text and should be normalized (convert crlf => lf)
*.bat           customtext
*.bowerrc       customtext
*.cmd           customtext
*.css           customtext
*.csv           customtext
*.engine        customtext diff=php
*.gitattributes customtext
*.gitignore     customtext
*.htc           customtext
*.htm           customtext diff=html
*.html          customtext diff=html
*.inc           customtext diff=php
*.info          customtext
*.install       customtext diff=php
*.js            customtext diff=java
*.jshintrc      customtext
*.json          customtext
*.lock          customtext
*.make          customtext
*.markdown      customtext
*.md            customtext
*.module        customtext diff=php
*.php           customtext diff=php
*.po            customtext
*.profile       customtext
*.ps1           customtext
*.rb            customtext
*.rss2          customtext
*.ruby-gemset   customtext
*.ruby-version  customtext
*.script        customtext
*.scss          customtext
*.sh            customtext
*.sql           customtext
*.test          customtext diff=php
*.theme         customtext
*.txt           customtext
*.xml           customtext
*.yml           customtext

# Binary files that should not be normalized or diffed (binary is a macro for -text -diff)
*.7z            custombinary
*.ai            custombinary
*.dll           custombinary
*.exe           custombinary
*.exp           custombinary
*.gif           custombinary
*.gz            custombinary
*.ico           custombinary
*.jepg          custombinary
*.jpg           custombinary
*.lib           custombinary
*.pdb           custombinary
*.pfx           custombinary
*.png           custombinary
*.psd           custombinary
*.sdf           custombinary
*.snk           custombinary
